.book {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.book-content img {
    width: 180px;
}

.author {
    color: rgb(119, 119, 119);
}

.price {
    width: 80%;
    background: rgb(46, 204, 113);
    padding: 10px;
    margin: auto;
    color: white;              /* for test */
    border-radius: 5px;        /* for test */
    font-weight: bold;
}
